<%= form_for(@list, remote: true) do |f| %>
<div class="form-group">
      <%= f.label "list name" %>
      <%= f.text_field :title %>
    </div>

    <div class="form-group">
    <%= f.submit %>
    </div>
    <% end %>
  <div class="hidden" id="list">
    <ul>
      <%= render partial: 'lists' %>
    </ul>
  </div>


 